
@media (prefers-color-scheme: dark) {
    .navbar, .navbar Link, .navbar button {
        background-color: white;
        color: black;
    }

}


@media (prefers-color-scheme: light) {
    .navbar, .navbar Link, .navbar button {
        background-color: white;
        color: black;
    }
}

