@media (prefers-color-scheme: dark) {
    .navbar, .navbar button, .navbar ul {
        background-color: rgb(255, 255, 255);
        color: black;
    }
    
}


@media (prefers-color-scheme: light) {
    .navbar, .navbar button, .navbar ul{
        background-color: rgb(255, 255, 255);
        color: black;
    }
  
}

