.border {
    border: 1px solid black;
    box-shadow: 8px 8px 5px rgb(141, 59, 48);
  }
  
  @media (max-width: 786px) {
    .description {
      padding: 5vw;
    }
    #container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .details-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5%;
    }
  
    #admin-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    #admin-button button {
      width: 40vw;
      margin: 2%;
    }
  }
  
  @media (min-width: 786px) and (max-width: 1440px) {
    .description {
      padding: 5vw;
    }
    #container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .details-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5% 15%;
    }
    .details-page h1 {
      font-size: 2.5em;
    }
  
    #admin-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    #admin-button button {
      width: 30vw;
      margin: 2%;
    }
  }
  
  @media (min-width: 1440px) {
    .description {
      padding: 2vw;
        align-self: center;
    }
    #container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    #container img {
      width: 200vw;
    }
    
  
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2%;
    }
    .details-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5% 0%;
    }
  
    .details-page h1 {
      font-size: 2em;
    }
  
    #admin-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    #admin-button button {
      width: 20vw;
      margin: 2%;
    }
  }