@media (max-width: 550px) {

  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
  }

  .border {
    border: 1px solid black;
    box-shadow: 8px 8px 5px rgb(141, 59, 48);
    margin-bottom: 1%;
  }
}

@media (min-width: 550px) and (max-width: 786px) {
  .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
    margin-top: 5%;
  }
  .search * {
    margin: 0;
  }

  .border {
    border: 1px solid black;
    box-shadow: 8px 8px 5px rgb(141, 59, 48);
    margin: 3% 10%;
  }
}

@media (min-width: 786px) {
  .border {
    border: 1px solid black;
    box-shadow: 8px 8px 5px rgb(141, 59, 48);
    align-items: stretch;
    display: flex;
    flex-direction: row;
    margin: 1%;
  }
  .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 5%;
  }
  .search * {
    margin: 0;
  }
  .switch button{
    width: 20%;
    margin-top: 2%
  }
}

@media (min-width: 1440px) {

  .border {
    margin: 1% 10%;
  }
  
  .switch button{
    width: 15%;
    margin-top: 2%
  }
}
