.signup-page, login-page {
    align-items: center;
    min-height: 100vh
    
}


@media (prefers-color-scheme: dark) {

.signup-page h1, .login-page h1 {
    color: white;
    font-size: 30px;
}


.signup-page button, .login-page button {
    margin: 2% 0;
    background: white;
    color: black;
}

}


@media (prefers-color-scheme: light) {

    .signup-page h1, .login-page h1 {
        color: white;
        font-size: 30px;
    }
    

.signup-page button, .login-page button {
    margin: 2% 0;
    background: white;
    color: black;
}

.signup-page input, .login-page input {
    
    background: white;
    color: black;
}
}


@media (max-width: 1000px) {
    .signup-page form, .login-page form {
        margin: 5% 10%;
    }
}

@media (min-width: 1000px) {
    .signup-page form, .login-page form {
        margin: 10% 30%;
    }
    
.signup-page input, .login-page input {
    
    background: white;
    color: rgb(0, 0, 0);
}
}