.App {
  text-align: center;
}

body {
  background-color: rgb(57, 56, 56);
  margin:0;
  padding:0;
  height:100%;
  padding-bottom: 10%
}

.cards {
  background-color: rgb(155, 155, 155);
}


.container {
  min-height:100%;
  position:relative;
}

